<div class="log-form">
    <div class="content login">
        <h2>Login</h2>
        <input type="text" placeholder="Username" required><br>
        <input type="password" placeholder="Password" required><br>
        <button>Login</button>
    </div>
    <div class="or">
        <p>OR</p>
    </div>
    <div class="content register">
      <h2>Register</h2>
      <form>
        <input type="text" placeholder="Username" required><br>
        <input type="password" placeholder="Password" required><br>
        <input type="text" placeholder="Phone Number" required><br>
        <input type="text" placeholder="Email" required><br>

        <button type="submit">Register</button>
    </form>
    </div>
</div>
