<div class="cart-contain">
   <h2>Shopping Cart</h2>
   <div class="layout">
   <div class="list-cart" >
       <div class="cart" *ngFor="let item of listOrder">
           <img src={{item.img}}>
        <div class="content">
            <div class="info">
                <h2>{{item.product}}</h2>
                <p>{{item.brand}}</p>
            </div>
            <div class="quantity">
                <div class="price">
                <input type="number">
                <p>{{item.price}}</p>
            </div>
                <span>$23131</span>
            </div>
        </div>
       </div>
   </div>
   <div class="checkout">
    
   </div>
</div>
</div>
