
<div class="head">
  <div class="logo-div row">
<div class="logo col-10">
<img src="https://www.flaticon.com/svg/static/icons/svg/889/889096.svg">
<a class="title">Smartphone</a>
</div>
<div class="login col-2">
  <a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
</div>
  </div>
  <div class="header row">
  <nav class="navbar nav-wrapper navbar-expand-lg navbar-light bg col-8">
   
    <nav class class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div id="navbar" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" [routerLink] = "['product','all']">All Product</a>
        <a class="nav-item nav-link"  routerLink="/about">About Us</a>
        <a class="nav-item nav-link" href="#">Cart</a>
      </div>
    </nav>
  </nav>
  
  </div>
</div>
  
<router-outlet></router-outlet>
 
<div class="footer">
    <div class="footer-menu">
      <a class="nav-item nav-link" routerLink="/home" >Home</a>
        <a class="nav-item nav-link" [routerLink] = "['product','all']">All Product</a>
        <a class="nav-item nav-link"  routerLink="/about">About Us</a>
        
        <a class="nav-item nav-link" href="#">Cart</a>
    </div>
    <div class="footer-content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
         unknown printer took a galley of type 
        and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
         Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="social">
       <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
       <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
       <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
       <a href=""><i class="fa fa-google" aria-hidden="true"></i></a>
    </div>
</div>

