.logo-div{
    width: 100%;
    
    background-color: #ffffff;
}
.logo img{
    width: 80px;
}
.logo{
    padding-left: 50px;
    
}
.title{
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    font-family: 'Courier Prime', monospace;
    margin-left: 20px;
}
.header{
    margin: 0;
    background-color: #21292b;
}
.txtSearch{
    border-radius: 3%;
    border: 2px solid #ffffff;
}
.footer{
    margin-top: 100px;
    width: 100%;
    background-color: #21292b;
    height: auto;
}
.footer-menu{
    padding-top: 50px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
    border-bottom: 2px solid #aeb5af;
    text-align: center;
}
.footer-menu a{
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
    display: inline;
   
}
.footer-content{
    width: 80%;
    padding-top: 80px;
    margin: auto;
    color: #ffffff;
    text-align: center;
}
.social{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}
.social i{
    color: #ffffff;
    font-size: 32px;
    margin-left: 20px;

}
.login {
    text-align: right;
    margin-top: 15px;
}
.login a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}