
<div class="head">
  <div class="logo-div row">
<div class="logo col-8">
<img src="https://www.flaticon.com/svg/static/icons/svg/889/889096.svg">
<a class="title">Smartphone</a>
</div>
<div class="login col-4">
  
</div>
  </div>
  <div class="header row">
  <nav class="navbar nav-wrapper navbar-expand-lg navbar-light bg col-8">
   
    <nav class class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div id="navbar" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" [routerLink] = "['product','all']">All Product</a>
        <a class="nav-item nav-link"  routerLink="/about">About Us</a>
        
        <a class="nav-item nav-link" href="#">Cart</a>
      </div>
    </nav>
  </nav>
  
  </div>
</div>
  
<router-outlet></router-outlet>
 


