.main-left{
    position: fixed;
}
.main-right{
   position: absolute;
   left: 30%;
}
#product-page{
    margin-top: 11em;
}
.tag{
    background-color: cyan;
    border-radius: 10px;
    padding-right: 10px;
    font-weight: bold;
    margin-left: 20px;
    color: #000000;
}
.tag:hover{
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.color-filter{
    margin-top: 30px;
}
.list-color{
    display: flex
}
.colors{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border: 1px solid slategrey;
}
.colors:hover{
    transform: scale(1.2);
}
.red{
    background-color: red;

}
.blue{
    background-color: blue;

}
.black{
    background-color: black;

}
.white{
    background-color: #ffffff;

}
.green{
    background-color: springgreen;

}
.card{
    margin-left: 30px;
    height: 500px;
}
.card img{
    margin-top: 20px;
    width: 100%;
    
}
.card-title{
    width: 120%;
}
.card2{
    margin-top: 20px;
    float: left;
}

.sort{
    width: 100%;
    
}
 
  