.detail{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 12em;
}
.left{
    width: 100%;
    height: auto;
    
}
.left img{
    width: 25em;
    margin-left: 5em;
}
.right{
    height: auto;
    
}
.btn-primary{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #21292B;
    border: 2px solid black;
}
input{
    width: 80px;
    height: 30px;
    text-align: center;
}