<div class="container-fluid detail">
    <div class="row">
      <div class="col-6 left">
          <img src={{phone.image}}>
      </div>
      <div class="col-6 right">
          <h2>{{phone.name}}</h2>
          <p>{{phone.price | currency:"$"}}</p>
          <p>{{phone.brand}}</p>
          <p>Ra mắt: {{phone.cre_date}}</p>
          <hr>
          <p>{{phone.description}}</p>
         
          <input type="number" min="1" value="1"><br>
          <button class="btn-primary">ADD TO CART</button>
    </div>
    </div>

</div>
