<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://about.att.com/ecms/dam/snr/2019/June2019/StoryLevelBanner/6.11.19_906_Samsung_S10_5G_1_STORY_LEVEL_BANNER_1600x483.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Newest</h3>
        <p>Lorem isumpo lal oal  lalall oiqop </p>
      </div>      
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://about.att.com/ecms/dam/snr/2019/March2019/StoryLevelBanner/StoryLevelBannerSamsung_Device_LineUp_STORY_LEVEL_BANNER_1600x483.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Newest</h3>
        <p>Lorem isumpo lal oal  lalall oiqop </p>
      </div> 
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://cdn.citymapia.com/kottayam/samsung-smart-cafe/2816/businessbanner.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
</div>
<div class="home">
<div class="contain">
    <hr class="hr-text" data-content="BRAND">
     <div class="brand">
      <div class="brand-item">
      <a  routerLink="/product/Apple"><img class="brand-logo" src="https://www.flaticon.com/svg/static/icons/svg/882/882704.svg"></a>
      <a  routerLink="/product/Samsung"><img class="brand-logo" src="https://www.flaticon.com/svg/static/icons/svg/882/882747.svg"></a>
      <a routerLink="/product/Oppo"><img class="brand-logo" src="https://www.flaticon.com/svg/static/icons/svg/882/882745.svg"></a>
      <a routerLink="/product/Nokia"><img class="brand-logo" src="https://www.flaticon.com/svg/static/icons/svg/882/882740.svg"></a>
      <a routerLink="/product/lg"><img class="brand-logo" src="https://www.flaticon.com/svg/static/icons/svg/882/882824.svg"></a>
      
      <a routerLink="/product/xiaomi"><img class="brand-logo" src="https://www.flaticon.com/svg/static/icons/svg/882/882720.svg"></a>
    </div>
    </div>
    <hr class="hr-text" data-content="LASTEST">
     <div class="lastest row">
      <div class="card col-2 card2" *ngFor="let item of list2">
        <div class="card-header">
          New
        </div>
        <img src={{item.image}}>
        <button class="btnView"><a routerLink="/detail/{{item.id}}">View</a></button>
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.price}}</p>
          <a id="addCart" (click) = "addCart(item.name, item.brand, item.price, item.image)" class="btn btn-primary">ADD TO CART</a>
        </div>
      </div>
     
     </div>
     <hr class="hr-text" data-content="Deal of the day">
     <div class="lastest row">
      <div class="card col-2 card2" *ngFor="let item of list3">
        <div class="card-header sale">
          -20%
        </div>
        <img src={{item.image}}>
        <button class="btnView"><a routerLink="/detail/{{item.id}}">View</a></button>
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.price}}</p>
          <a id="addCart" (click) ="addCart(item.name, item.brand, item.price, item.image)" class="btn btn-primary">ADD TO CART</a>
        </div>
      </div>
     </div>
  </div>
</div>